body{

    margin: 0;
}

.Menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: grey;
    

}
.Logo{
    max-width: 100%;
    width: 100px;
}

.headerMenu{

padding-bottom: 25px;

}

.Pokeball{

    width: 25px;

}
.contenu{
    display: flex;
    justify-content: space-around;
}
.img_menu{
    width: 100px;
}
.contenu>div:first-child {
	width: 20%;   
}
.contenu>div:nth-child(2) {
	width: 20%;   
}
.contenu>div:last-child {
	width: 20%;   
}